<!--
  Master Project Location: https://github.com/bappygolder/oTask
  Live Hosted Website: http://bappygolder.github.io/oTask/Project-Source/#/taskView
  Timeline Website: http://otask.tumblr.com/
  Project Owner: Bappy Golder | www.BappyGolder.com
-->
<div id="app_container">

    <!--start: Task Section -->
    <div id="task_section" class="staticDemo">
        <!-- Show Empty text if no tasks exist -->
        <div id="static_msg"> 
            This feature is not ready yet, but we are working on it. Stay tuned!
        </div>
       </div>
    <!--end: Task Section -->

    <div id="clear_task_section">
        <button id="ok_button" class="curve greenbtn" onclick="location.href = '#/taskview';"  type="button"></button>        
    </div>
    <!--end: #clear_task_section-->

    <!--Javascript File Links-->
    <script src="js/static-html-content.js" type="text/javascript"></script>

</div><!--end: #app_container-->