<!--
  Master Project Location: https://github.com/bappygolder/oTask
  Live Hosted Website: http://bappygolder.github.io/oTask/Project-Source/#/taskView
  Timeline Website: http://otask.tumblr.com/
  Project Owner: Bappy Golder | www.BappyGolder.com
-->
<div id="app_container">

    <!--start: Add Task Section -->
    <div id="add_task_section">
        <form id="add_task" name="add_task">
        
            <!--
            <textarea class="curve" ng-model="vm.newDescription" type="text" name="new_task" id="task_input_field" placeholder="New Task . . ." onfocus="function(){console.log('hello');}"></textarea>
            -->
            
            <input-textarea></input-textarea>

            <br/>
            <button class="curve" id="add_task_button" ng-class="{'btn-disabled' : vm.newDescription == ''}" ng-disabled="vm.newDescription == ''" ng-click="vm.addTask()">ADD</button>
        </form>
    </div>
    <!--end: #add_task_section-->

    <!--start: Task Section -->
    <div id="task_section">
        <!-- Show Empty text if no tasks exist -->
        <div id="empty_msg" ng-if="vm.isListEmpty">Your list is empty. Add something new!</div>

        <!-- Show list if tasks exists -->
        <ul ng-if="!vm.isListEmpty">
            <div class="task">
                <li ng-repeat="task in vm.taskList">
                    {{task.description}}
                    <span class="fade"></span>
                    <button class="cross_mark" ng-click="vm.deleteTask($index)"><i class="fa fa-times"></i></button>
                </li>
            </div>
        </ul>
    </div>
    <!--end: Task Section -->

    <div id="clear_task_section">
        <button ng-show="!vm.isListEmpty" class="curve" type="button" ng-click="vm.clearAllTasks()">Clear List</button>
        <!--About button when task is empty-->
        <button ng-show="vm.isListEmpty" class="curve" type="button" onclick="window.open('http://otask.tumblr.com/about')">About oTask</button>
    </div>    <!--end: #clear_task_section-->

</div><!--end: #app_container-->